{
    "path": ".",
    "rules": {
        "assets": {
            "Models/bath/bath.w4a": {
                "models": {
                    "bath.fbx": null
                }
            },
            "Models/bath/bath_broken_1.w4a": {
                "models": {
                    "bath_broken_1.fbx": null
                }
            },
            "Models/bath/bath_broken_2.w4a": {
                "models": {
                    "bath_broken_2.fbx": null
                }
            },
            "Models/book.w4a": {
                "models": {
                    "book.fbx": null
                }
            },
            "Models/books.w4a": {
                "models": {
                    "books.fbx": null
                }
            },
            "Models/chel.w4a": {
                "models": {
                    "chel.fbx": null
                }
            },
            "Models/duck.w4a": {
                "models": {
                    "duck.fbx": null
                }
            },
            "Models/scene.w4a": {
                "models": {
                    "scene.fbx": null
                }
            },
            "Models/stand/stand.w4a": {
                "models": {
                    "stand.fbx": null
                }
            },
            "Models/stand/stand_broken_1.w4a": {
                "models": {
                    "stand_broken_1.fbx": null
                }
            },
            "Models/stand/stand_broken_2.w4a": {
                "models": {
                    "stand_broken_2.fbx": null
                }
            },
            "Models/toilet/toilet.w4a": {
                "models": {
                    "toilet.fbx": null
                }
            },
            "Models/toilet/toilet_broken_1.w4a": {
                "models": {
                    "toilet_broken_1.fbx": null
                }
            },
            "Models/toilet/toilet_broken_2.w4a": {
                "models": {
                    "toilet_broken_2.fbx": null
                }
            },
            "Models/vantuz.w4a": {
                "models": {
                    "vantuz.fbx": null
                }
            },
            "default.w4a": {
                "images": [
                    "Textures/BNG_FailButton.png",
                    "Textures/BNG_FailTooltip.png",
                    "Textures/BNG_MenuTooltip.png",
                    "Textures/BNG_StartGameButton.png",
                    "Textures/BNG_ToMenuButton.png",
                    "Textures/BNG_WinButton.png",
                    "Textures/BNG_WinTooltip.png",
                    "Textures/Hand.png",
                    "Textures/book.jpg",
                    "Textures/chel.png",
                    "Textures/color_2.png",
                    "Textures/explosion.png",
                    "Textures/izolenta.jpg",
                    "Textures/molotok.jpg",
                    "Textures/otvertka.jpg",
                    "Textures/tros.jpg",
                    "Textures/vantuz.jpg",
                    "Textures/wall.png"
                ],
                "materials": [
                    "Materials/animated.mat",
                    "Materials/default.mat",
                    "Materials/sprite.mat"
                ]
            }
        },
        "pass": [
            "Sounds/Click.mp3",
            "Sounds/Male_Sad.mp3",
            "Sounds/Water_Drops.mp3",
            "Sounds/bg_music.mp3",
            "Sounds/door_creak.mp3",
            "Sounds/dropping.mp3",
            "Sounds/male_happy.mp3",
            "Sounds/repair.mp3",
            "Sounds/repair_fail.mp3",
            "Sounds/repair_success.mp3",
            "Sounds/win.mp3",
            "Ui/Button_Install.png",
            "Ui/Button_Install_press.png",
            "Ui/Button_TryAgain.png",
            "Ui/Button_TryAgain_press.png",
            "Ui/Button_play_next_level.png",
            "Ui/Button_play_next_level_press.png",
            "Ui/Fail.png",
            "Ui/Sound_Off.png",
            "Ui/Sound_Off_Press.png",
            "Ui/Sound_On.png",
            "Ui/Sound_On_Press.png",
            "Ui/Win.png",
            "Ui/hw_logo_en.png",
            "resources.json",
            "settings.json"
        ],
        "skip": [
            "AssetCreator.config",
            "Materials/shaders/animated.fs",
            "Materials/shaders/animated.vs",
            "Materials/shaders/default.fs",
            "Materials/shaders/default.vs",
            "Materials/shaders/sprite.fs",
            "Materials/shaders/sprite.vs"
        ]
    },
    "version": "1.0"
}